<h2>ember-dnd-helpers Demo</h2>
<p>This is an example of building drag and drop interface with pure helpers. 
  To read more, go to the <a href="https://github.com/EmberSherpa/ember-dnd-helpers">README</a></p>

<p>
<strong>This is a proof of concept. Lost of work to come. Let me know if you'd like to help.</strong>
</p>

<div class="board">
{{#with (array 
  (hash name="Cards" class="cards" property="model")
  (hash name="Backlog" class="backlog" property="backlog")
  (hash name="Pending" class="pending" property="pending")
  (hash name="Complete" class="complete" property="complete")
) as |columns|}}
  {{#each columns as |column|}}
      <div class="{{column.class}} column"
        ondrop={{action (pipe (prevent-default) (action 'add' dragging from (get this column.property)))}}
        ondragover={{action (pipe (prevent-default) (drop-effect 'move'))}}
      >
      <h3>{{column.name}}</h3>
      {{#each (get this column.property) as |card|}}
        {{#dropzone-container card=card dragging=dragging}}
        <div class="card"
             draggable="true"
             ondragstart={{action (pipe (action (mut dragging) card) (action (mut from) (get this column.property)))}}
             ondragend={{action (pipe (action (mut dragging) null) (action (mut from) null))}}>
          <h3>{{card.title}}</h3>
          <p>{{card.description}}</p>
        </div>
        {{/dropzone-container}}
      {{/each}}
    </div>
  {{/each}}
{{/with}}
</div>
